<div class="row folder-panel">
  <div class="col-md-3 col-xs-3 menu-left">
    <ul class="list-inline">
      <li>
        <button type="button" class="btn btn-default btn-cir" tooltip="Share Folder">
          <i class="fa fa-share-alt fa-lg"></i>
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-default btn-cir" tooltip="{{text}}" ly-copy copy-text="Copy Link" copied-text="Copied!" data-clipboard-text="{{BASE_URI}}/{{folder.id}}">
          <i class="fa fa-link fa-lg"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="col-md-6 col-xs-6 menu-center">
    <h4>
      <ul class="list-inline">
        <li class="label label-default">{{folder.name}}</li>
        <li class="label label-default">
          {{folder.files.length}}
          <ng-pluralize count="folder.files.length"
              when="{'1': 'FILE', 'other': 'FILES'}">
          </ng-pluralize>
        </li>
        <li class="label label-danger" ng-show="folder.files.length">
          <i class="fa fa-clock-o"></i>
          Expires
          <span ly-from-now data-date="{{folder.expiresAt}}">
          </span>
        </li>
        <li>
          <a href="" ng-click="folderModal()">
            <i class="fa fa-pencil"></i>
          </a>
        </li>
      </ul>
    </h4>
  </div>
  <div class="col-md-3 col-xs-3 menu-right">
    <ul class="list-inline">
      <li>
        <div class="btn btn-default btn-file btn-cir" tooltip="Add Files">
          <i class="fa fa-plus fa-lg"></i>
          <input type="file" ng-file-select="addFiles($files)" multiple>
        </div>
      </li>
      <li>
        <a ng-href="/d/{{folder.id}}" class="btn btn-default btn-cir" tooltip="Download" ly-download>
          <i class="fa fa-download fa-lg"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="center-block drop-box" ng-file-drop="addFiles($files)" ng-if="folder.id && !folder.files.length">
  Drag & Drop
  <br>
  <small>or</small>
  <br>
  <span class="btn btn-success btn-lg btn-file">
    <i class="fa fa-cloud-upload fa-lg"></i> Browse Files
    <input type="file" ng-file-select="addFiles($files)" multiple>
  </span>
</div>

<div class="row grid">
  <div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="file in folder.files | orderBy:'-createdAt'">
    <div class="center-block grid-item">
      <div class="grid-item-holder" ng-init="show=false" ng-mouseover="show=true" ng-mouseleave="show=false"
          ng-style="{'background-image': file.thumbnailUri ? 'url(' + file.thumbnailUri + ')' : ''}">
        <div class="grid-item-top" ng-show="show">
          <ul class="list-inline">
            <li>
              <a ng-href="/d/{{file.id}}" ly-download tooltip="Download">
                <i class="fa fa-download fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="" ng-click="deleteFile(file.id)" tooltip="Delete">
                <i class="fa fa-trash-o fa-lg"></i>
              </a>
            </li>
          </ul>
        </div>
        <div ly-dead-center>
          <a ng-href="/i/{{file.id}}">
            <i class="fa fa-file-o fa-5x" ng-style="{opacity: file.thumbnailUri ? 0 : 1}"></i>
          </a>
        </div>
        <div class="grid-item-progress" ng-if="file.loaded !== 100">
          <input value="{{file.loaded}}" ly-knob data-width="50" data-height="50" data-fgcolor="#45aeea" data-bgcolor="#bee3f7" data-thickness=".1">
        </div>
      </div>
      <div class="grid-item-info">
        <h5>{{file.name}} <small>{{file.size | bytes}}</small></h5>
      </div>
    </div>
    </a>
  </div>
</div>
