<div ng-if="!user.token" ng-include="'/tpl/landing.html'"></div>

<div ng-if="user.token">
  <div class="row home-panel">
    <div class="col-md-4 col-xs-4 menu-left">
      <ul class="list-inline">
        <li>
          <button type="button" class="btn btn-default btn-cir" tooltip="Edit">
            <i class="fa fa-pencil fa-lg"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-xs-4 menu-center">
      <h4>
        <ul class="list-inline">
          <li class="label label-default">
            {{folders.length}}
            <ng-pluralize count="folders.length"
                when="{'1': 'FOLDER', 'other': 'FOLDERS'}">
            </ng-pluralize>
          </li>
        </ul>
      </h4>
    </div>
    <div class="col-md-4 col-xs-4 menu-right">
      <ul class="list-inline">
        <li>
          <button type="button" class="btn btn-primary" ng-click="folderModal()">
            <i class="fa fa-plus"></i> New Folder
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row grid">
    <div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="fol in folders | orderBy:'-createdAt'">
      <div class="center-block grid-item">
        <div class="grid-item-holder" ng-init="show=false" ng-mouseover="show=true" ng-mouseleave="show=false">
          <div class="grid-item-top" ng-show="show">
            <ul class="list-inline">
              <li>
                <a ng-href="/d/{{fol.id}}" ly-download tooltip="Download">
                  <i class="fa fa-download fa-lg"></i>
                </a>
              </li>
              <li>
                <a ng-click="deleteFolder(fol)" tooltip="Delete">
                  <i class="fa fa-trash-o fa-lg"></i>
                </a>
              </li>
            </ul>
          </div>
          <div ly-dead-center>
            <a ng-href="/{{fol.id}}">
              <i class="fa fa-folder-o fa-5x"></i>
            </a>
          </div>
        </div>

        <!-- <div class="grid-item-action">
        </div> -->
        <!-- <a ng-href="/{{fol.id}}">
          <div class="grid-item-holder">
            <div class="grid-item-info">
              <h5>
                {{fol.name}} <small>{{fol.files.length}} Files</small>
              </h5>
            </div>
          </div>
        </a> -->
        <div class="grid-item-info">
          <h5>
            {{fol.name}} <small>{{fol.files.length}} Files</small>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
