<div class="row home-panel">
  <div class="col-md-3 menu-left">
    <ul class="list-inline">
      <li>
        <button type="button" class="btn btn-default btn-cir"
            bs-tooltip title="Edit">
          <i class="fa fa-pencil fa-lg"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
  </div>
  <div class="col-md-3 menu-right">
    <ul class="list-inline">
      <li>
        <button type="button" class="btn btn-primary" ng-click="createFolder()">
          <i class="fa fa-folder-o fa-lg"></i> New Folder
        </button>
      </li>
    </ul>
  </div>
</div>

<div class="row grid">
  <div class="col-md-3 col-sm-4 col-xs-6 grid-item"
      ng-repeat="fol in folders | orderBy:'-createdAt'">
    <a href="/{{fol.id}}">
      <i class="fa fa-folder-o"></i>
      <div class="grid-item-center">
        <span class="badge">{{fol.files.length}}</span>
      </div>
    </a>
  </div>
</div>
