<div class="landing">
  <div class="slogan">
    <h1>Lytup <small>Simple file sharing</small></h1>
  </div>

  <div class="center-block features">
    <ul class="list-unstyled lead">
      <li>
        <i class="fa fa-check-circle-o fa-lg"></i>
        Share pictures, videos, music, documents and files
      </li>
      <li>
        <i class="fa fa-check-circle-o fa-lg"></i> No file size limit
      </li>
      <li>
        <i class="fa fa-check-circle-o fa-lg"></i> Expiry time for folders
      </li>
      <li>
        <i class="fa fa-check-circle-o fa-lg"></i> Blazingly fast!
      </li>
    </ul>
  </div>

  <div class="get-started">
    <a href="/home" class="btn btn-success btn-lg">
      <i class="fa fa-paw fa-lg"></i> Get Started
    </a>
  </div>
</div>
